html {
    background: url(../img/bg1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color:white;

}

@media screen and (max-width:1000px) {
    .header {
        height:200px!important;
    }

    .hf-left {
        padding-top:100px;

    }
    
#name {
    position:absolute;
    display:flex;
    margin-top:190px;
    margin-left:-300px;
}

#itemimg {
    margin-bottom: 100px;
}

#desc {
    margin-top:300px;
    z-index:1;
    margin-left:-260px;
}
  }

  @media screen and (max-width:550px) {
    .header h1 {
        font-size:20px!important;
        position:absolute;
        width:100%;
        display:flex;
        position:absolute;
    }
    .hf-left {
        margin-left:-90px;
    }
    .hf-right {
        margin-right: -70px;
    }
    .nav {
        width:170px!important;
    }
    .welkom-li h1 {
        font-size:30px!important;
        margin-left:-50px;
    }
    .cart {
        width:170px!important;
    }
    #panelloginbtn {
        width:100px!important;
        margin-left:30px!important;
    }
    }
    


input {
    background-color:rgba(0, 0, 0, 0.2);
    padding:5px;
    border:1px solid white;
    margin-top:10px;

}

select {
    background-color:rgba(0, 0, 0, 0.2);
    padding:5px;
    border:1px solid white;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
  }
  
.desc {
    font-size:20px;
    font-style: italic;
    padding:30px;
    padding-top:10px;
}

.name {
    font-size: 30px;
}


button {
    background-color:rgba(0, 0, 0, 0.4);
    padding:2.5px;
    border:1px solid white;
    font-weight:bold;
    font-size:17px;
    padding-left:10px;
    padding-right:10px;
    margin-left:2px;

}

.margin-left {
    margin-left:20px;
}


p {
    font-family: 'Poppins', sans-serif;
    margin-left:20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    letter-spacing:5px; 
}

h5 {
    padding:20px;
}

.header {
    width:auto;
    height:50px;
    padding:80px;
    background-color:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(14px);
    padding-top:40px;
    border-radius:0px;
    border-bottom:2px solid white;
}

.header h1 {
    font-size:50px;
    margin-top:-35px;
    letter-spacing:7px;
    margin-left:20px;
}


.header center p {
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:7px;
}

.hf-left {
    margin-top:-70px;
}

.hf-right {
    float:right;
    margin-top:-50px;
}

.nav {
    width: 275px;
    margin-top:120px;
    float:left;
    border-top:2px solid white;
    backdrop-filter: blur(14px);
    background-color:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    padding-bottom:15px;
    margin-left:25px;
}

.material-icons {
    margin-top:2px;
    position:absolute;
    margin-left:-25px;
}
.cart {
    width: 275px;
    margin-top:400px;
    float:left;
    border-top:2px solid white;
    backdrop-filter: blur(14px);
    background-color:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    padding-bottom:15px;
    margin-left:25px;
    position:absolute;
}

.cart .order {
    margin-top:10px;
    font-size:20px;
    margin-left:40px;
}
.nav ul {
    padding:0px;

}

.nav ul li {
    font-size:20px;
    list-style:none;
    font-family: 'Poppins', sans-serif;
    padding-right:20px;
    font-weight:bold;
    padding-left:20px;
}

li a {
    text-decoration: none;

}


.welkom-li {
    font-size:35px!important;
    font-weight:700;
    margin-bottom:40px;
    margin-left:50px;
}

.container {
    background-color:#fafafa;
    font-size:30px;
    margin:20px;
    margin-top:20px;
    margin-left: 300px;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(14px);
    padding-bottom:50px;
}


.container h1 {
    font-size:40px;
    padding-bottom:20px;
    font-weight:700;
}


.container p {
    font-size:20px;
    padding-left:10px;
}


.container .topleftarrow {
    border-left:2px solid white;
    height: 102px;
    border-top:2px solid white;
    width:300px;
    margin-left:-20px;
    margin-top:-88px;
    position:absolute;
}

.textbox {
    margin-top:100px;
}

.harrowleft {
    width:60px;
    height:20px;
    border-left:2px solid white;
    border-top:2px solid white;
    margin-left:5px;
    margin-top:-10px;
    position:absolute;
}



.footer {

    
    width:100%;
    padding:40px;
    border-radius:5px;
    position:absolute;
    border-top:5px solid white; 
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(14px);
}

.classheader {
    text-transform:uppercase;
    font-size:30px!important;
    letter-spacing:20px;
    padding-top:120px;
}
.sub {
    margin-top:150px;
    letter-spacing:25px;
    text-transform:uppercase;
    font-weight:100;
}
.option img {
    width:300px;
    border:0px solid white;
    float:left;
    box-shadow: 0px 0px 15px #fff;

}

.content #name, #desc {
    padding-left:320px;    
}

.content #name {
    font-size:25px;
}

.content #price {
    font-size:20px;
    letter-spacing:4px;
    padding-left: 10px;
}

.option {
    display:flex;
    padding-right:20px;
}
.option .content {
    margin-top: 100px;
    

}

.adminpanel {
    display: none;
    padding:20px;
}

#logout {
    margin-left:200px;
    margin-top:-50px;
}

.dishtools form {
    display: flex;
}

.dishtools img {
    margin-top:20px;
    width:334px;
    border:1px solid white;

}

.editbuttons {
    margin-left:30px;
}

.label {
    margin-left:-10px;
    font-size:16px!important;
    padding-top:20px;
    
}

.details img {
    width:333px;
    border:1px solid white;
    margin-top: 13px;

}

.details input {
    margin-top:12px;
}
.details textarea {
    background-color:rgba(0, 0, 0, 0.2);
    padding:5px;
    border:1px solid white;
    margin-top:-165px;
    position:absolute;
    margin-left:10px;
    height:209px;
}

.details .adminoption {
    width: 330px;
    margin-bottom: 30px;
    display:Flex;
}

#updaten, #toevoegen, #verwijderen {
    display:flex;
    width: 332px !important;
    margin-top:10px;
}

#toevoegen, #verwijderen {
    display:flex;
    width: 332px !important;
    margin-top:10px;
    display:none;
}


#panellogoutbtn, #panelloginbtn {
    margin-left:50px;  
}

#panellogoutbtn {
    display:none;
}

.searchdishpanel {
    margin:40px;
}
